<section class="tf-section action rtl">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="action__body" data-aos="fade-up">
                    <div class="block-text rtl">
                        <h3 class="mb-13">نمونه کارها NFT خود را ایجاد کنید</h3>
                        <p class="fs-21 mb-7">از اخبار ، نکات و ترفند ها آگاه شوید</p>
                    </div>
                    <a href="contact.html" class="btn-action style-2">پیوستن</a>
                </div>
            </div>
        </div>
    </div>
</section>