<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__body rtl">
                <img src="/images/logo.png" alt="Monteno" data-aos="fade-down">
                <p class="desc fs-18" data-aos="fade-up">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
                <ul class="social">
                    <li data-aos="fade-up" data-aos-duration="1000"><a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li data-aos="fade-up" data-aos-duration="1200"><a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li data-aos="fade-up" data-aos-duration="1400"><a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li data-aos="fade-up" data-aos-duration="1600"><a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer_bottom rtl">
                <p class="fs-16">© 2022، مونتنو </p>
                <ul>
                    <li><a href="#">شرایط و ضوابط</a></li>
                    <li><a href="#">سیاست حفظ حریم خصوصی</a></li>
                    <li><a href="#">خط مشی کوکی</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->