<!-- Header -->
<header id="header_main" class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header__body d-flex justify-content-between">
                    <div class="header__right rtl">
                        <nav id="main-nav" class="main-nav">
                            <ul id="menu-primary-menu" class="menu">
                                <li class="menu-item-has-children current-menu-item">
                                    <a href="index.html">خانه</a>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="about.ejs">درباره</a>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="collections.ejs">مجموعه ها </a>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">صفحات</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="team.ejs">تیم</a></li>
                                        <li class="menu-item"><a href="roadmap.ejs">نقشه راه</a></li>
                                        <li class="menu-item"><a href="our-mission.ejs">ماموریت ها</a></li>
                                        <li class="menu-item"><a href="blog-grid.ejs">وبلاگ</a></li>
                                        <li class="menu-item"><a href="faq.ejs">سوالات متداول</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="contact.ejs">تماس</a>
                                </li>
                            </ul>
                        </nav><!-- /#main-nav -->
                        <div class="button">
                            <a class="btn-action" href="contact.ejs">
                                پیوستن
                            </a>
                        </div>
                        <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
                    </div>

                    <div class="header__logo">
                        <a href="index.html">
                            <img id="site-logo" src="/images/logo.png" alt="Monteno" width="217" height="50"
                                data-retina="assets/images/logo@2x.png" data-width="217" data-height="50">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end Header -->