<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from monteno.iran.liara.run/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 31 Mar 2024 21:21:19 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monteno - NFT Portfolio HTML Template</title>
    <link rel="stylesheet" href="/style/bootstrap.css">
    <link rel="stylesheet" href="/style/app.css">
    <link rel="stylesheet" href="/font/font-awesome.css">
    <link href="/style/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/swiper-bundle.min.css" />

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon.png">

</head>

<body class="page about header-fixed">

    <!-- Preloading -->
    <div class="preloader">
        <div class="icon"></div>
    </div>
    <!-- end Preloading -->

    <!-- Scroll Top -->
    <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;">
            </path>
        </svg>
    </div>
    <!-- end Scroll Top -->

    <!-- Header -->
    <header id="header_main" class="header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__body d-flex justify-content-between">

                        <div class="header__right rtl">
                            <nav id="main-nav" class="main-nav">
                                <ul id="menu-primary-menu" class="menu">
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">خانه</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item current-item"><a href="index.html">خانه 1</a></li>
                                            <li class="menu-item"><a href="home-02.html">خانه 2</a></li>
                                            <li class="menu-item"><a href="home-03.html">خانه 3</a></li>
                                            <li class="menu-item"><a href="OnePage.html">تک صفحه</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children current-menu-item">
                                        <a href="about.html">درباره</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children ">
                                        <a href="collections.html">مجموعه ها</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">صفحات</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="team.html">تیم</a></li>
                                            <li class="menu-item"><a href="roadmap.html">نقشه راه</a></li>
                                            <li class="menu-item"><a href="our-mission.html">ماموریت ها</a></li>
                                            <li class="menu-item"><a href="blog-list.html">وبلاگ زیر هم</a></li>
                                            <li class="menu-item"><a href="blog-grid.html">وبلاگ کنار هم</a></li>
                                            <li class="menu-item"><a href="blog-single.html">صفحه وبلاگ</a></li>
                                            <li class="menu-item"><a href="faq.html">سوالات متداول</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="contact.html">تماس</a>
                                    </li>
                                </ul>
                            </nav><!-- /#main-nav -->
                            <div class="button">
                                <a class="btn-action" href="contact.html">
                                    پیوستن
                                </a>
                            </div>
                            <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
                        </div>
                        <div class="header__logo">
                            <a href="index.html">
                                <img id="site-logo" src="/images/logo.png" alt="Monteno" width="217" height="50"
                                    data-retina="assets/images/logo@2x.png" data-width="217" data-height="50">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end Header -->

    <!-- PageTitle -->
    <section class="tf-section page-title">
        <div class="container">
            <div class="col-md-12">
                <div class="page-title__body ab">
                    <div class="pt-12 block-text rtl">
                        <h2 class="mb-20 sub-title">درباره ما</h2>
                        <p class="fs-24 mb-33">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <br> لورم ایپسوم متن ساختگی
                        </p>
                    </div>
                    <img src="/images/items/group-ntf.png" alt="Monteno">
                </div>
            </div>
        </div>
    </section>
    <!-- end PageTitle -->

    <!-- About Us -->
    <section class="tf-section section-about rtl">
        <div class="container">
            <div class="row reverse">
                <div class="col-xl-7 col-md-12">
                    <div class="group-image">
                        <div class="left">
                            <div class="item bg-1"><img src="/images/items/item-08.png" alt="Monteno"></div>
                        </div>
                        <div class="right">
                            <div class="item bg-2"><img src="/images/items/item-09.png" alt="Monteno"></div>
                            <div class="item bg-3"><img src="/images/items/item-10.png" alt="Monteno"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-md-12">
                    <div class="pt-12 block-text rtl">
                        <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">درباره ما</h5>
                        <h3 class="title mb-58" data-aos="fade-up" data-aos-duration="1000">کیفیت بالا NFT Collections
                        </h3>
                        <p class="fs-21 mb-33" data-aos="fade-up" data-aos-duration="1000">لورم ایپسوم متن ساختگی با
                            تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است </p>
                        <p class="fs-18 line-h17 mb-41" data-aos="fade-up" data-aos-duration="1000">لورم ایپسوم متن
                            ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است لورم ایپسوم متن
                            ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                        <a href="about.html" class="btn-action style-2" data-aos="fade-up"
                            data-aos-duration="1200">اطلاعات بیشتر</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end About Us -->

    <!-- Counter -->
    <section class="tf-section counter">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="counter__body rtl" data-aos="fade-down" data-aos-duration="1000">
                        <div class="counter">
                            <div class="number-counter">
                                <span class="number" data-speed="1000" data-to="100" data-inviewport="yes">10</span>هزار
                            </div>
                            <h5 class="title">کاربر ثبت نام شده</h5>
                        </div>
                        <div class="counter">
                            <div class="number-counter">
                                <span class="number" data-speed="1000" data-to="5" data-inviewport=""
                                    yes">10</span>میلیون
                            </div>
                            <h5 class="title">کل دارایی</h5>
                        </div>
                        <div class="counter">
                            <div class="number-counter">
                                <span class="number" data-speed="1000" data-to="10"
                                    data-inviewport="yes">10</span>بیلیون
                            </div>
                            <h5 class="title">درامد سالانه</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Counter -->

    <!-- Portfolio -->
    <section class="tf-section porfolio rtl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-text center">
                        <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Join</span></h1>
                        <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">به نمونه کارها NFT
                            بپیوندید</h5>
                        <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">مونتنو شوید <br> همین حالا
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row mt-61">
                <div class="col-md-6">
                    <div class="icon-box bg-2" data-aos="fade-up">
                        <div class="icon">
                            <img src="/images/icon/wallet.png" alt="Monteno">
                        </div>
                        <div class="content">
                            <p class="fs-16 color-main">مرحله 1</p>
                            <a class="h5">
                                کیف پول خود را وصل کنید
                            </a>
                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                برای شرایط فعلی تکنولوژی </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box bg-2" data-aos="fade-up" data-aos-duration="1000">
                        <div class="icon">
                            <img src="/images/icon/shopping-cart.png" alt="Monteno">
                        </div>
                        <div class="content">
                            <p class="fs-16 color-main">مرحله 2</p>
                            <a class="h5">
                                NFT خود را بخرید
                            </a>
                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                برای شرایط فعلی تکنولوژی </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box bg-2" data-aos="fade-up">
                        <div class="icon">
                            <img src="/images/icon/folder.png" alt="Monteno">
                        </div>
                        <div class="content">
                            <p class="fs-16 color-main">مرحله 3</p>
                            <a class="h5">
                                ایجاد مجموعه
                            </a>
                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                برای شرایط فعلی تکنولوژی </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box bg-2" data-aos="fade-up" data-aos-duration="1000">
                        <div class="icon">
                            <img src="/images/icon/money-bag.png" alt="Monteno">
                        </div>
                        <div class="content">
                            <p class="fs-16 color-main">مرحله 4</p>
                            <a class="h5">
                                NFT خود را بفروشید
                            </a>
                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                برای شرایط فعلی تکنولوژی </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Portfolio -->

    <!-- Team -->
    <section class="tf-section team">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="block-text center">
                        <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Team</span></h1>
                        <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">اعضای تیم</h5>
                        <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">تیم شگفت انگیز ما <br> اعضا
                        </h3>
                    </div>
                </div>
            </div>
            <div class="mt-48 row">
                <div class="col-xl-3 col-md-6">
                    <div class="team-box-2" data-aos="fade-up" data-aos-duration="800">
                        <div class="img-team">
                            <img src="/images/team/team-01.jpg" alt="Monteno">
                            <div class="social">
                                <p>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="team-info">
                            <a href="team.html" class="h5">محمد غلامی</a>
                            <p class="fs-16">برنامه نویس</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="team-box-2" data-aos="fade-up" data-aos-duration="1200">
                        <div class="img-team">
                            <img src="/images/team/team-02.jpg" alt="Monteno">
                            <div class="social">
                                <p>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="team-info">
                            <a href="team.html" class="h5">امین کاوندی</a>
                            <p class="fs-16">برنامه نویس</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="team-box-2" data-aos="fade-up" data-aos-duration="1600">
                        <div class="img-team">
                            <img src="/images/team/team-03.jpg" alt="Monteno">
                            <div class="social">
                                <p>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="team-info">
                            <a href="team.html" class="h5">ملیکا احمدی</a>
                            <p class="fs-16">برنامه نویس</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="team-box-2" data-aos="fade-up" data-aos-duration="2000">
                        <div class="img-team">
                            <img src="/images/team/team-04.jpg" alt="Monteno">
                            <div class="social">
                                <p>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="team-info">
                            <a href="team.html" class="h5">رضا محمدی</a>
                            <p class="fs-16">برنامه نویس</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row pb-team">
                <div class="col-xl-4 col-md-6">
                    <div class="team-box-2" data-aos="fade-up" data-aos-duration="1000">
                        <div class="img-team">
                            <img src="/images/team/team-05.jpg" alt="Monteno">
                            <div class="social">
                                <p>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="team-info">
                            <a href="team.html" class="h5">امین کاوندی</a>
                            <p class="fs-16">برنامه نویس</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="team-box-2" data-aos="fade-up" data-aos-duration="1200">
                        <div class="img-team">
                            <img src="/images/team/team-06.jpg" alt="Monteno">
                            <div class="social">
                                <p>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="team-info">
                            <a href="team.html" class="h5">ملیکا احمدی</a>
                            <p class="fs-16">برنامه نویس</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="team-box-2" data-aos="fade-up" data-aos-duration="1400">
                        <div class="img-team">
                            <img src="/images/team/team-07.jpg" alt="Monteno">
                            <div class="social">
                                <p>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="team-info">
                            <a href="team.html" class="h5">رضا محمدی</a>
                            <p class="fs-16">برنامه نویس</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Team -->

    <!-- Partners -->
    <section class="tf-section partners">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="block-text center">
                        <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Team</span></h1>
                        <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">شرکا</h5>
                        <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">ما شریک هستیم <br> با
                            برندهای برتر </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="partners__body" data-aos="fade-up">
                        <div class="border-b border-r box-partner">
                            <a href="#"><img src="/images/partners/logo-01.png" alt="Monteno"></a>
                        </div>
                        <div class="border-b border-r box-partner">
                            <a href="#"><img src="/images/partners/logo-02.png" alt="Monteno"></a>
                        </div>
                        <div class="border-b border-r box-partner">
                            <a href="#"><img src="/images/partners/logo-03.png" alt="Monteno"></a>
                        </div>
                        <div class="border-b box-partner">
                            <a href="#"><img src="/images/partners/logo-04.png" alt="Monteno"></a>
                        </div>
                        <div class="border-r box-partner">
                            <a href="#"><img src="/images/partners/logo-05.png" alt="Monteno"></a>
                        </div>
                        <div class="border-r box-partner">
                            <a href="#"><img src="/images/partners/logo-06.png" alt="Monteno"></a>
                        </div>
                        <div class="border-r box-partner">
                            <a href="#"><img src="/images/partners/logo-07.png" alt="Monteno"></a>
                        </div>
                        <div class="box-partner">
                            <a href="#"><img src="/images/partners/logo-08.png" alt="Monteno"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Partners -->

    <!-- Action -->
    <%- include('partials/_action.ejs') %>
        <!-- end Action -->


        <!-- Footer -->
        <%- include('partials/_footer.ejs') %>
            <!-- end Footer -->


            <script src="/js/jquery.min.js"></script>
            <script src="/js/swiper-bundle.min.js"></script>
            <script src="/js/swiper.js"></script>
            <script src="/js/app.js"></script>
            <script src="/js/aos.js"></script>
            <script>
                AOS.init();
            </script>

</body>

<!-- Mirrored from monteno.iran.liara.run/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 31 Mar 2024 21:21:20 GMT -->

</html>