<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from monteno.iran.liara.run/blog-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 31 Mar 2024 21:21:46 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monteno - NFT Portfolio HTML Template</title>
    <link rel="stylesheet" href="/style/bootstrap.css">
    <link rel="stylesheet" href="/style/app.css">
    <link rel="stylesheet" href="/font/font-awesome.css">
    <link href="/style/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/swiper-bundle.min.css" />

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon.png">

</head>

<body class="page page-blog-single header-fixed">

    <!-- Preloading -->
    <div class="preloader">
        <div class="icon"></div>
    </div>
    <!-- end Preloading -->

    <!-- Scroll Top -->
    <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;">
            </path>
        </svg>
    </div>
    <!-- end Scroll Top -->

    <!-- Header -->
    <%- include('partials/_header.ejs') %>
        <!-- end Header -->

        <!-- Blog single -->
        <section class="blog-single">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="blog-img">
                            <img src="/images/blog/blog-single.jpg" alt="Monteno">
                        </div>
                    </div>
                </div>
                <div class="row rtl">
                    <div class="col-xl-9 col-md-12 rtl">
                        <div class="blog-body">
                            <div class="blog-content rtl">
                                <ul class="meta">
                                    <li><a href="#"><i class="fa fa-folder-open"></i>رمزنگاری</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>محمد غلامی</a></li>
                                    <li><a href="#"><i class="fa fa-clock"></i>1402 ، 11 تیر</a></li>
                                </ul>
                                <h3 class="title">
                                    راهنمای کامل خرید و فروش NFT در بازار
                                </h3>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                    و
                                    برای شرایط فعلی تکنولوژی مورد نیاز</p>
                                <p class="fs-18 mt-28">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                                    که
                                    لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                    ابزارهای
                                    کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه
                                    و
                                    متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                                    الخصوص
                                    طراحان خلاقی. </p>
                                <blockquote>
                                    <p class="fs-21">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای
                                        شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                        باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                                    </p>
                                    <div>
                                        <a href="#">محمد غلامی ، </a>
                                        <p> برنامه نویس</p>
                                    </div>
                                </blockquote>
                                <p class="fs-18 mt-42">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک
                                    است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                    فعلی
                                    تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای
                                    زیادی
                                    در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد.
                                </p>

                                <div class="action-group">
                                    <div class="tag">
                                        <ul class="tag">
                                            <li><a class="fs-18" href="#">Crypto</a></li>
                                            <li><a class="fs-18" href="#">Blockchain</a></li>
                                            <li><a class="fs-18" href="#">NFT</a></li>
                                        </ul>
                                    </div>
                                    <div class="share">
                                        <h6 class="fs-16">اشتراک</h6>
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content related-post ltr ">
                                <div class="prev">
                                    <img src="/images/blog/related.jpg" alt="Monteno">
                                    <div class="action-right">
                                        <a href="#"><i class="fa fa-angle-double-left"></i>پست بعدی</a>
                                        <div class="divider"></div>
                                        <a class="title rtl">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                    </div>
                                    <div class="next">
                                        <img src="/images/blog/related-1.jpg" alt="Monteno">
                                        <div class="action-right">
                                            <a href="#">پست قبلی<i class="fa fa-angle-double-right"></i></a>
                                            <div class="divider"></div>
                                            <a class="title rtl">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content post">
                                <img src="/images/blog/avt.jpg" alt="Monteno">
                                <div class="post-right">
                                    <div class="info">
                                        <a class="h5">Jewel Khan</a>
                                        <ul class="social">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم
                                        است </p>
                                    <a class="btn-post" href="#">مشاهده همه پست ها <i
                                            class="fa fa-angle-double-left"></i></a>
                                </div>
                            </div>
                            <div class="blog-content comment">
                                <h3 class="fs-36">20 نظر</h3>
                                <div class="mt-0 comment-box">
                                    <img src="/images/blog/avt1.jpg" alt="Monteno">
                                    <div class="comment-right">
                                        <div class="top">
                                            <div class="info">
                                                <h5>اسم کاربر</h5>
                                                <p>چهارشنبه 11 تیر ، 1402 12:30 بعد از ظهر</p>
                                            </div>
                                            <a class="btn-action"><span>پاسخ</span></a>
                                        </div>
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                            سطرآنچنان که لازم است </p>
                                    </div>
                                </div>
                                <div class="comment-box">
                                    <img src="/images/blog/avt2.jpg" alt="Monteno">
                                    <div class="comment-right">
                                        <div class="top">
                                            <div class="info">
                                                <h5>اسم کاربر</h5>
                                                <p>چهارشنبه 11 تیر ، 1402 12:30 بعد از ظهر</p>
                                            </div>
                                            <a class="btn-action"><span>پاسخ</span></a>
                                        </div>
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                            سطرآنچنان که لازم است </p>
                                    </div>
                                </div>
                                <div class="comment-box rep">
                                    <img src="/images/blog/avt3.jpg" alt="Monteno">
                                    <div class="comment-right">
                                        <div class="top">
                                            <div class="info">
                                                <h5>اسم کاربر</h5>
                                                <p>چهارشنبه 11 تیر ، 1402 12:30 بعد از ظهر</p>
                                            </div>
                                            <a class="btn-action"><span>پاسخ</span></a>
                                        </div>
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                            سطرآنچنان که لازم است </p>
                                    </div>
                                </div>
                                <div class="comment-box">
                                    <img src="/images/blog/avt2.jpg" alt="Monteno">
                                    <div class="comment-right">
                                        <div class="top">
                                            <div class="info">
                                                <h5>اسم کاربر</h5>
                                                <p>چهارشنبه 11 تیر ، 1402 12:30 بعد از ظهر</p>
                                            </div>
                                            <a class="btn-action"><span>پاسخ</span></a>
                                        </div>
                                        <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                            سطرآنچنان که لازم است </p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content comment-form">
                                <h3 class="fs-36">یک نظر اضافه کنید</h3>
                                <form class="comment__form">
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                            placeholder="نظر شما در اینجا"></textarea>


                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="نام" required>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            placeholder="ایمیل" required>
                                        <input class="mr-0 form-control" type="text" placeholder="وبسایت شما" required>
                                    </div>
                                    <button type="submit" class="btn-action style-2"><span>ارسال</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-12">
                        <div class="side-bar">
                            <div class="side-bar__box">
                                <h6 class="title">جستجو</h6>
                                <div class="input-group">
                                    <div class="form-outline rtl">
                                        <input type="search" id="form1" class="form-control" placeholder="تایپ کنید"
                                            required />
                                    </div>
                                    <button type="button" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="side-bar__box">
                                <h6 class="title">پست های اخیر</h6>
                                <ul class="recent rtl">
                                    <li>
                                        <a href="blog-single.html">
                                            <img src="/images/blog/blog-04.jpg" alt="Monteno">
                                        </a>
                                        <div class="info">
                                            <a href="blog-single.html" class="fs-18">NFT خود را بخرید</a>
                                            <p class="fs-14">1 مرداد</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="blog-single.html">
                                            <img src="/images/blog/blog-05.jpg" alt="Monteno">
                                        </a>
                                        <div class="info">
                                            <a href="blog-single.html" class="fs-18">
                                                چگونه بلاک چین بسازیم</a>
                                            <p class="fs-14">1 مرداد</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="blog-single.html">
                                            <img src="/images/blog/blog-06.jpg" alt="Monteno">
                                        </a>
                                        <div class="info">
                                            <a href="blog-single.html" class="fs-18">آینده NFT </a>
                                            <p class="fs-14">1 مرداد</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="side-bar__box">
                                <h6 class="title">دسته بندی ها</h6>
                                <ul class="category rtl">
                                    <li><a class="fs-18" href="#"><i class="fas fa-caret-right"></i>ارز دیجیتال</a></li>
                                    <li><a class="fs-18" href="#"><i class="fas fa-caret-right"></i>بلاک چین</a></li>
                                    <li><a class="fs-18" href="#"><i class="fas fa-caret-right"></i>بیت کوین</a></li>
                                    <li><a class="fs-18" href="#"><i class="fas fa-caret-right"></i>اتریوم</a></li>
                                    <li><a class="fs-18" href="#"><i class="fas fa-caret-right"></i>NFT بازار</a></li>
                                    <li><a class="fs-18" href="#"><i class="fas fa-caret-right"></i>فروش</a></li>
                                    <li><a class="fs-18" href="#"><i class="fas fa-caret-right"></i>تجارت آنلاین</a>
                                    </li>
                                    <li><a class="fs-18" href="#"><i class="fas fa-caret-right"></i>تجارت کریپتو</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="side-bar__box rtl">
                                <h6 class="title">برچسب ها</h6>
                                <ul class="tag">
                                    <li><a class="fs-18" href="#">ارز</a></li>
                                    <li><a class="fs-18" href="#">بلاکچین</a></li>
                                    <li><a class="fs-18" href="#">NFT</a></li>
                                    <li><a class="fs-18" href="#">اتریوم</a></li>
                                    <li><a class="fs-18" href="#">Ico</a></li>
                                    <li><a class="fs-18" href="#">بازار</a></li>
                                    <li><a class="fs-18" href="#">Bitcoin</a></li>
                                    <li><a class="fs-18" href="#">NFT تجارت</a></li>
                                    <li><a class="fs-18" href="#">رسانه ها</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Blog single -->

        <!-- Action -->
        <%- include('partials/_action.ejs') %>
            <!-- end Action -->


            <!-- Footer -->
            <%- include('partials/_footer.ejs') %>
                <!-- end Footer -->


                <script src="/js/jquery.min.js"></script>
                <script src="/js/swiper-bundle.min.js"></script>
                <script src="/js/swiper.js"></script>
                <script src="/js/app.js"></script>
                <script src="/js/aos.js"></script>

                <script>
                    AOS.init();
                </script>

</body>

<!-- Mirrored from monteno.iran.liara.run/blog-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 31 Mar 2024 21:21:49 GMT -->

</html>