<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from monteno.iran.liara.run/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 31 Mar 2024 21:21:49 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monteno - NFT Portfolio HTML Template</title>
    <link rel="stylesheet" href="/style/bootstrap.css">
    <link rel="stylesheet" href="/style/app.css">
    <link rel="stylesheet" href="/font/font-awesome.css">
    <link href="/style/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/swiper-bundle.min.css" />

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon.png">

</head>

<body class="page page-contact header-fixed">

    <!-- Preloading -->
    <div class="preloader">
        <div class="icon"></div>
    </div>
    <!-- end Preloading -->

    <!-- Scroll Top -->
    <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;">
            </path>
        </svg>
    </div>
    <!-- end Scroll Top -->

    <!-- Header -->
    <%- include('partials/_header.ejs') %>
        <!-- end Header -->

        <!-- PageTitle -->
        <section class="tf-section page-title">
            <div class="container">
                <div class="col-md-12">
                    <div class="page-title__body rm">
                        <div class="pt-12 block-text rtl">
                            <h2 class="mb-20 sub-title">تماس با ما</h2>
                            <p class="fs-24 mb-33">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <br> لورم ایپسوم متن
                                ساختگی
                            </p>
                        </div>
                        <img class="s2" src="/images/items/group-ntf-04.png" alt="Monteno">
                    </div>
                </div>
            </div>
        </section>
        <!-- end PageTitle -->

        <!-- contact -->
        <section class="tf-section contact">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="block-text center">
                            <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>About</span></h1>
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">ارسال پیام</h5>
                            <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">برای ما پیام بنویسید<br>
                                همین حالا</h3>
                        </div>
                    </div>
                </div>
                <div class="row rtl">
                    <div class="col-md-6">
                        <div class="contact-left">
                            <ul>
                                <li data-aos="fade-up">
                                    <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                    <div class="info">
                                        <h5>آدرس</h5>
                                        <p class="fs-18">ایران ، تهران</p>
                                    </div>
                                </li>
                                <li data-aos="fade-up">
                                    <div class="icon"><i class="fas fa-phone-alt"></i></div>
                                    <div class="info">
                                        <h5>تلفن</h5>
                                        <p class="fs-18 ltr">+98 9123456789</p>
                                    </div>
                                </li>
                                <li data-aos="fade-up">
                                    <div class="icon"><i class="fas fa-envelope"></i></div>
                                    <div class="info">
                                        <h5>ایمیل</h5>
                                        <p class="fs-18">momento@momento.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form class="contact__form">

                            <div class="form-group">
                                <input class="form-control ms-2" type="text" placeholder="اسم شما" required>
                                <input type="email" class="mr-0 form-control" id="exampleInputEmail1"
                                    placeholder="ایمیل شما" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control ms-2" type="text" placeholder="تلفن شما" required>
                                <select class="mr-0 form-control" id="exampleFormControlSelect1">
                                    <option>موضوع</option>
                                    <option>موضوع 1</option>
                                    <option>موضوع 2</option>
                                    <option>موضوع 3</option>
                                    <option>موضوع 4</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="پیام شما"></textarea>
                            </div>
                            <button type="submit" class="btn-action style-2"><span>ارسال</span></button>
                        </form>
                    </div>
                </div>

            </div>

        </section>
        <!-- end contact -->

        <!-- Map -->
        <section class="map">
            <div class="container">
                <div class="col-12">
                    <p data-aos="fade-up"><iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830869428!2d-74.119763973046!3d40.69766374874431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sT%C3%B2a%20nh%C3%A0%20Empire%20State!5e0!3m2!1svi!2s!4v1645507902092!5m2!1svi!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
                </div>
            </div>
        </section>
        <!-- end Map -->

        <!-- Action -->
        <%- include('partials/_action.ejs') %>
            <!-- end Action -->


            <!-- Footer -->
            <%- include('partials/_footer.ejs') %>
                <!-- end Footer -->


                <script src="/js/jquery.min.js"></script>
                <script src="/js/swiper-bundle.min.js"></script>
                <script src="/js/swiper.js"></script>
                <script src="/js/app.js"></script>
                <script src="/js/aos.js"></script>

                <script>
                    AOS.init();
                </script>

</body>

<!-- Mirrored from monteno.iran.liara.run/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 31 Mar 2024 21:21:49 GMT -->

</html>