<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from monteno.iran.liara.run/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 31 Mar 2024 21:19:56 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monteno - NFT Portfolio HTML Template</title>
    <link rel="stylesheet" href="/style/bootstrap.css">
    <link rel="stylesheet" href="/style/app.css">
    <link rel="stylesheet" href="/font/font-awesome.css">
    <link href="/style/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/swiper-bundle.min.css" />

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon.png">

</head>

<body class="home-1 header-fixed">

    <!-- Preloading -->
    <div class="preloader">
        <div class="icon"></div>
    </div>
    <!-- end Preloading -->

    <!-- Scroll Top -->
    <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;">
            </path>
        </svg>
    </div>
    <!-- end Scroll Top -->

    <!-- Header -->
    <%- include('partials/_header.ejs') %>
        <!-- end Header -->

        <!-- Hero Slider -->
        <section class="tf-section hero-slider rtl">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-md-6 col-12">
                        <div class="pt-24 block-text">
                            <h6 class="mb-6 sub-title" data-aos="fade-up">ما Monteno NFT هستیم</h6>
                            <h2 class="title mb-26" data-aos="fade-up">امروز NFT های نسل بعدی را جمع آوری کنید </h2>
                            <p class="desc mb-43" data-aos="fade-up">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                صنعت
                                چاپ، و با استفاده از طراحان گرافیک است. </p>
                            <a href="about.html" class="btn-action style-2" data-aos="fade-up"
                                data-aos-duration="1200">متصل
                                شوید</a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-6 col-12">
                        <div class="content-right d-flex">
                            <div class="swiper-container swiper mySwiper1 swiper-h">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="item bg-2"><img src="/images/items/item-02.png" alt="Monteno">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item bg-1"><img src="/images/items/item-01.png" alt="Monteno">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item bg-2"><img src="/images/items/item-02.png" alt="Monteno">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-container swiper mySwiper2 swiper-h ">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="item bg-1"><img src="/images/items/item-03.png" alt="Monteno">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item bg-2"><img src="/images/items/item-04.png" alt="Monteno">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item bg-1"><img src="/images/items/item-05.png" alt="Monteno">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-container swiper mySwiper3 swiper-h d-m-none">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="item bg-2"><img src="/images/items/item-06.png" alt="Monteno">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item bg-1"><img src="/images/items/item-07.png" alt="Monteno">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item bg-2"><img src="/images/items/item-06.png" alt="Monteno">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Hero Slider -->

        <!-- About Us -->
        <section class="tf-section section-about rtl">
            <div class="container">
                <div class="row reverse">
                    <div class="col-xl-7 col-md-12">
                        <div class="group-image">
                            <div class="left">
                                <div class="item bg-1"><img src="/images/items/item-08.png" alt="Monteno"></div>
                            </div>
                            <div class="right">
                                <div class="item bg-2"><img src="/images/items/item-09.png" alt="Monteno"></div>
                                <div class="item bg-3"><img src="/images/items/item-10.png" alt="Monteno"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-12">
                        <div class="pt-12 block-text rtl">
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">درباره ما</h5>
                            <h3 class="title mb-58" data-aos="fade-up" data-aos-duration="1000">مجموعه های NFT با کیفیت
                                بالا
                            </h3>
                            <p class="fs-21 mb-33" data-aos="fade-up" data-aos-duration="1000">لورم ایپسوم متن ساختگی با
                                تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است </p>
                            <p class="fs-18 line-h17 mb-41" data-aos="fade-up" data-aos-duration="1000">لورم ایپسوم متن
                                ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است لورم ایپسوم
                                متن
                                ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                            <a href="about.html" class="btn-action style-2" data-aos="fade-up"
                                data-aos-duration="1200">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end About Us -->

        <!-- Speciality -->
        <section class="tf-section section-speciality rtl">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-md-12">
                        <div class="block-text pt-128 pd-0">
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">تخصص ما</h5>
                            <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">راه حل های کامل برای NFT
                                شما
                            </h3>
                            <p class="fs-21" data-aos="fade-up" data-aos-duration="1000">لورم ایپسوم متن ساختگی با تولید
                                سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است </p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-12">
                        <div class="section-speciality__box">
                            <div class="box-item bg-2 rtl mr-28" data-aos="flip-left">
                                <h3>01</h3>
                                <a href="collections.html" class="h5">مجموعه عظیم</a>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                            <div class="box-item bg-2 rtl mt-45" data-aos="flip-right" data-aos-duration="1000">
                                <h3>02</h3>
                                <a href="collections.html" class="h5">کیفیت بالا</a>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                            <div class="box-item bg-2 rtl mr-28 mt--16" data-aos="flip-left">
                                <h3>03</h3>
                                <a href="collections.html" class="h5">منبع برتر</a>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                            <div class="box-item bg-2 rtl mt-29" data-aos="flip-right" data-aos-duration="1000">
                                <h3>04</h3>
                                <a href="collections.html" class="h5">انجمن بزرگ</a>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Speciality -->

        <!-- Portfolio -->
        <section class="tf-section porfolio rtl">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-text center">
                            <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Join</span></h1>
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">به نمونه کارها NFT
                                بپیوندید</h5>
                            <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">مونتنو شوید <br> همین
                                حالا
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row mt-61">
                    <div class="col-md-6">
                        <div class="icon-box bg-2" data-aos="fade-up">
                            <div class="icon">
                                <img src="/images/icon/wallet.png" alt="Monteno">
                            </div>
                            <div class="content">
                                <p class="fs-16 color-main">مرحله 1</p>
                                <a class="h5">
                                    کیف پول خود را وصل کنید
                                </a>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                    و
                                    برای شرایط فعلی تکنولوژی </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-box bg-2" data-aos="fade-up" data-aos-duration="1000">
                            <div class="icon">
                                <img src="/images/icon/shopping-cart.png" alt="Monteno">
                            </div>
                            <div class="content">
                                <p class="fs-16 color-main">مرحله 2</p>
                                <a class="h5">
                                    NFT خود را بخرید
                                </a>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                    و
                                    برای شرایط فعلی تکنولوژی </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-box bg-2" data-aos="fade-up">
                            <div class="icon">
                                <img src="/images/icon/folder.png" alt="Monteno">
                            </div>
                            <div class="content">
                                <p class="fs-16 color-main">مرحله 3</p>
                                <a class="h5">
                                    ایجاد مجموعه
                                </a>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                    و
                                    برای شرایط فعلی تکنولوژی </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-box bg-2" data-aos="fade-up" data-aos-duration="1000">
                            <div class="icon">
                                <img src="/images/icon/money-bag.png" alt="Monteno">
                            </div>
                            <div class="content">
                                <p class="fs-16 color-main">مرحله 4</p>
                                <a class="h5">
                                    NFT خود را بفروشید
                                </a>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                    و
                                    برای شرایط فعلی تکنولوژی </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Portfolio -->

        <!-- Montono -->
        <section class="tf-section montono">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="image-box" data-aos="fade-up" data-aos-duration="1000">
                            <img src="/images/items/montono-01.png" alt="Monteno">
                            <div class="image-box__title">
                                <a href="collections.html" class="h6">آیتم مونتنو 1</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="image-box" data-aos="fade-up" data-aos-duration="1200">
                            <img src="/images/items/montono-02.png" alt="Monteno">
                            <div class="image-box__title">
                                <a href="collections.html" class="h6">آیتم مونتنو 2</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="image-box" data-aos="fade-up" data-aos-duration="1400">
                            <img src="/images/items/montono-03.png" alt="Monteno">
                            <div class="image-box__title">
                                <a href="collections.html" class="h6">آیتم مونتنو 3</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="image-box" data-aos="fade-up" data-aos-duration="1600">
                            <img src="/images/items/montono-04.png" alt="Monteno">
                            <div class="image-box__title">
                                <a href="collections.html" class="h6">آیتم مونتنو 4</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="image-box" data-aos="fade-up" data-aos-duration="1000">
                            <img src="/images/items/montono-05.png" alt="Monteno">
                            <div class="image-box__title">
                                <a href="collections.html" class="h6">آیتم مونتنو 5</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="image-box" data-aos="fade-up" data-aos-duration="1200">
                            <img src="/images/items/montono-06.png" alt="Monteno">
                            <div class="image-box__title">
                                <a href="collections.html" class="h6">آیتم مونتنو 6</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="image-box" data-aos="fade-up" data-aos-duration="1400">
                            <img src="/images/items/montono-07.png" alt="Monteno">
                            <div class="image-box__title">
                                <a href="collections.html" class="h6">آیتم مونتنو 7</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="image-box" data-aos="fade-up" data-aos-duration="1600">
                            <img src="/images/items/montono-08.png" alt="Monteno">
                            <div class="image-box__title">
                                <a href="collections.html" class="h6">آیتم مونتنو 8</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Montono -->

        <!-- Road Map -->
        <section class="tf-section road-map">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-text center">
                            <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Road Map</span>
                            </h1>
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">نقشه راه</h5>
                            <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">سفر به <br> Monteno NFT
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="road-map__content s1 rtl">
                            <div class="box-time rtl left" data-aos="fade-right" data-aos-offset="300">
                                <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-check"></i></span>
                                <p class="mb-0 fs-16 color-main">1402 ، 1 فروردین</p>
                                <h5 class="mb-20 title">نسل ایده</h5>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                    است.
                                </p>
                            </div>
                            <div class="box-time rtl right mt-223" data-aos="fade-up" data-aos-offset="300">
                                <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-check"></i></span>
                                <p class="mb-0 fs-16 color-main">1402 ، 30 اردیبهشت</p>
                                <h5 class="mb-20 title">طراحی و توسعه</h5>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                    است.
                                </p>
                            </div>
                            <div class="box-time rtl left mt--23" data-aos="fade-right" data-aos-offset="300">
                                <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-circle"></i></span>
                                <p class="mb-0 fs-16 color-main">1402 ، 20 خرداد</p>
                                <h5 class="mb-20 title">انتشار اولیه </h5>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                    است.
                                </p>
                            </div>
                            <div class="box-time rtl right mt-200" data-aos="fade-up" data-aos-offset="300">
                                <span data-aos="zoom-in" data-aos-offset="300"><i
                                        class="fa fa-angle-down color2"></i></span>
                                <p class="mb-0 fs-16 color-main">1402 ، 11 تیر</p>
                                <h5 class="mb-20 title">نتیجه و گزارش نهایی</h5>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                    است.
                                </p>
                            </div>
                        </div>
                        <div class="view-all center" data-aos="fade-up">
                            <a href="roadmap.html" class="btn-action style-2"> مشاهده همه</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Road Map -->

        <!-- Newsletter -->
        <section class="tf-section newsletter rtl">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <div class="newsletter__body" data-aos="fade-up">
                            <div class="block-text rtl">
                                <h3 class="mb-13">دریافت خبرنامه</h3>
                                <p class="fs-21">
                                    از اخبار ، نکات و ترفند ها آگاه شوید
                                </p>
                            </div>
                            <form class="body__form">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        placeholder="آدرس ایمیل" required>
                                    <button type="submit" class="btn btn-primary">عضویت</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Newsletter -->

        <!-- Team -->
        <section class="tf-section team">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="block-text center">
                            <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Team</span></h1>
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">اعضای تیم</h5>
                            <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">تیم شگفت انگیز ما <br>
                                اعضا
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row mt-53">
                    <div class="col-md-12">
                        <div class="swiper swiper-team" data-aos="fade-up">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="team-box">
                                        <div class="img-team">
                                            <img src="/images/team/team-01.jpg" alt="Monteno">
                                            <div class="social">
                                                <p>
                                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                                                    <a href="#"><i class="fab fa-telegram"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="team-info">
                                            <a href="team.html" class="h5">محمد غلامی</a>
                                            <p class="fs-16">برنامه نویس</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-box">
                                        <div class="img-team">
                                            <img src="/images/team/team-02.jpg" alt="Monteno">
                                            <div class="social">
                                                <p>
                                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                                                    <a href="#"><i class="fab fa-telegram"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="team-info">
                                            <a href="team.html" class="h5">امین کاوندی</a>
                                            <p class="fs-16">برنامه نویس</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-box">
                                        <div class="img-team">
                                            <img src="/images/team/team-03.jpg" alt="Monteno">
                                            <div class="social">
                                                <p>
                                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                                                    <a href="#"><i class="fab fa-telegram"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="team-info">
                                            <a href="team.html" class="h5">ملیکا احمدی</a>
                                            <p class="fs-16">برنامه نویس</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-box">
                                        <div class="img-team">
                                            <img src="/images/team/team-04.jpg" alt="Monteno">
                                            <div class="social">
                                                <p>
                                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                                                    <a href="#"><i class="fab fa-telegram"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="team-info">
                                            <a href="team.html" class="h5">رضا محمدی</a>
                                            <p class="fs-16">برنامه نویس</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-box">
                                        <div class="img-team">
                                            <img src="/images/team/team-01.jpg" alt="Monteno">
                                            <div class="social">
                                                <p>
                                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                                                    <a href="#"><i class="fab fa-telegram"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="team-info">
                                            <a href="team.html" class="h5">محمد غلامی</a>
                                            <p class="fs-16">برنامه نویس</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-box">
                                        <div class="img-team">
                                            <img src="/images/team/team-02.jpg" alt="Monteno">
                                            <div class="social">
                                                <p>
                                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                                                    <a href="#"><i class="fab fa-telegram"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="team-info">
                                            <a href="team.html" class="h5">امین کاوندی</a>
                                            <p class="fs-16">برنامه نویس</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Team -->

        <!-- Partners -->
        <section class="tf-section partners">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="block-text center">
                            <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Team</span></h1>
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">شرکا</h5>
                            <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">ما شریک هستیم <br> با
                                برندهای برتر </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="partners__body" data-aos="fade-up">
                            <div class="border-b border-r box-partner">
                                <a href="#"><img src="/images/partners/logo-01.png" alt="Monteno"></a>
                            </div>
                            <div class="border-b border-r box-partner">
                                <a href="#"><img src="/images/partners/logo-02.png" alt="Monteno"></a>
                            </div>
                            <div class="border-b border-r box-partner">
                                <a href="#"><img src="/images/partners/logo-03.png" alt="Monteno"></a>
                            </div>
                            <div class="border-b box-partner">
                                <a href="#"><img src="/images/partners/logo-04.png" alt="Monteno"></a>
                            </div>
                            <div class="border-r box-partner">
                                <a href="#"><img src="/images/partners/logo-05.png" alt="Monteno"></a>
                            </div>
                            <div class="border-r box-partner">
                                <a href="#"><img src="/images/partners/logo-06.png" alt="Monteno"></a>
                            </div>
                            <div class="border-r box-partner">
                                <a href="#"><img src="/images/partners/logo-07.png" alt="Monteno"></a>
                            </div>
                            <div class="box-partner">
                                <a href="#"><img src="/images/partners/logo-08.png" alt="Monteno"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Partners -->

        <!-- Testimonial -->
        <section class="tf-section testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Slider main container -->
                        <div class="swiper swiper-testimonials">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="testimonials-box rtl">
                                        <div class="image" data-aos="fade-right">
                                            <img src="/images/testimonial/testimonial-01.jpg" alt="Monteno">
                                        </div>

                                        <div class="block-text rtl">
                                            <h5 class="mb-10 sub-title">گواهینامه</h5>
                                            <h3 class="title">آنچه مردم میگویند ! </h3>
                                            <div class="message">
                                                <img src="/images/icon/left-quote.png" alt="Monteno">
                                                <div class="message-content" data-aos="fade-up"
                                                    data-aos-duration="1000">
                                                    <p class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                                        صنعت
                                                        چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                                                        روزنامه و
                                                        مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                                                        مورد
                                                        نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>

                                                    <div class="info">
                                                        <img src="/images/testimonial/avt-01.png" alt="Monteno">
                                                        <h6>امین کاوندی,</h6>
                                                        <p class="fs-16">برنامه نویس</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonials-box rtl">
                                        <div class="image">
                                            <img src="/images/testimonial/testimonial-01.jpg" alt="Monteno">
                                        </div>

                                        <div class="block-text rtl">
                                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">
                                                گواهی
                                                نامه</h5>
                                            <h3 class="title" data-aos="fade-up" data-aos-duration="1000">آنچه مردم
                                                میگویند
                                                ! </h3>
                                            <div class="message">
                                                <img src="/images/icon/left-quote.png" alt="Monteno"
                                                    data-aos="fade-right">
                                                <div class="message-content" data-aos="fade-up"
                                                    data-aos-duration="1000">
                                                    <p class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                                        صنعت
                                                        چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                                                        روزنامه و
                                                        مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                                                        مورد
                                                        نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>

                                                    <div class="info">
                                                        <img src="/images/testimonial/avt-01.png" alt="Monteno">
                                                        <h6>امین کاوندی,</h6>
                                                        <p class="fs-16">برنامه نویس</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonials-box rtl">
                                        <div class="image">
                                            <img src="/images/testimonial/testimonial-01.jpg" alt="Monteno">
                                        </div>

                                        <div class="block-text rtl">
                                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">
                                                گواهی
                                                نامه</h5>
                                            <h3 class="title" data-aos="fade-up" data-aos-duration="1000">آنچه مردم
                                                میگویند
                                                ! </h3>
                                            <div class="message">
                                                <img src="/images/icon/left-quote.png" alt="Monteno"
                                                    data-aos="fade-right">
                                                <div class="message-content" data-aos="fade-up"
                                                    data-aos-duration="1000">
                                                    <p class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                                        صنعت
                                                        چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                                                        روزنامه و
                                                        مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                                                        مورد
                                                        نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>

                                                    <div class="info">
                                                        <img src="/images/testimonial/avt-01.png" alt="Monteno">
                                                        <h6>امین کاوندی,</h6>
                                                        <p class="fs-16">برنامه نویس</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- end Testimonial -->

        <!-- FAQ -->
        <section class="tf-section faq rtl">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="block-text center">
                            <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>FAQ</span></h1>
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">سوالات متداول</h5>
                            <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">اغلب پرسیده شده <br>
                                سوالات
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 rtl">
                        <div class="flat-accordion" data-aos="fade-up">
                            <div class="flat-toggle">
                                <h5 class="toggle-title active">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم?</h5>
                                <div class="toggle-content">
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم
                                        است.</p>
                                </div>
                            </div>
                            <div class="flat-toggle">
                                <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم?</h5>
                                <div class="toggle-content">
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم
                                        است.</p>
                                </div>
                            </div>
                            <div class="flat-toggle">
                                <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم?</h5>
                                <div class="toggle-content">
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم
                                        است.</p>
                                </div>
                            </div>
                            <div class="flat-toggle">
                                <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم?</h5>
                                <div class="toggle-content">
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم
                                        است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 rtl">
                        <div class="flat-accordion" data-aos="fade-up">
                            <div class="flat-toggle">
                                <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم?</h5>
                                <div class="toggle-content">
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم
                                        است.</p>
                                </div>
                            </div>
                            <div class="flat-toggle">
                                <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم?</h5>
                                <div class="toggle-content">
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم
                                        است.</p>
                                </div>
                            </div>
                            <div class="flat-toggle">
                                <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم?</h5>
                                <div class="toggle-content">
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم
                                        است.</p>
                                </div>
                            </div>
                            <div class="flat-toggle">
                                <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم?</h5>
                                <div class="toggle-content">
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        لازم
                                        است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end FAQ -->

        <!-- Action -->
        <%- include('partials/_action.ejs') %>
            <!-- end Action -->

            <!-- Footer -->
            <%- include('partials/_footer.ejs') %>
                <!-- end Footer -->


                <script src="/js/jquery.min.js"></script>
                <script src="/js/swiper-bundle.min.js"></script>
                <script src="/js/swiper.js"></script>
                <script src="/js/app.js"></script>
                <script src="/js/aos.js"></script>
                <script type="text/javascript" src="/js/vanilla-tilt.js"></script>
                <script type="text/javascript">
                    VanillaTilt.init(document.querySelector(".box-item"), {
                        max: 25,
                        speed: 400
                    });

                    //It also supports NodeList
                    VanillaTilt.init(document.querySelectorAll(".box-item"));
                </script>

                <script>
                    AOS.init();
                </script>

</body>



</html>