<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from monteno.iran.liara.run/our-mission.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 31 Mar 2024 21:21:40 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monteno - NFT Portfolio HTML Template</title>
    <link rel="stylesheet" href="/style/bootstrap.css">
    <link rel="stylesheet" href="/style/app.css">
    <link rel="stylesheet" href="/font/font-awesome.css">
    <link href="/style/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/swiper-bundle.min.css" />

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon.png">

</head>

<body class="page mission header-fixed">

    <!-- Preloading -->
    <div class="preloader">
        <div class="icon"></div>
    </div>
    <!-- end Preloading -->

    <!-- Scroll Top -->
    <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;">
            </path>
        </svg>
    </div>
    <!-- end Scroll Top -->

    <!-- Header -->
    <%- include('partials/_header.ejs') %>
        <!-- end Header -->

        <!-- PageTitle -->
        <section class="tf-section page-title">
            <div class="container">
                <div class="col-md-12">
                    <div class="page-title__body rm">
                        <div class="pt-12 block-text rtl">
                            <h2 class="mb-20 sub-title">چشم انداز و ماموریت</h2>
                            <p class="fs-24 mb-33">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <br> لورم ایپسوم متن
                                ساختگی
                            </p>
                        </div>
                        <img src="/images/items/group-ntf-03.png" alt="Monteno">
                    </div>
                </div>
            </div>
        </section>
        <!-- end PageTitle -->

        <!-- Visions -->
        <section class="tf-section visions">
            <div class="container">
                <div class="row reverse rtl">
                    <div class="col-xl-7 col-md-12">
                        <div class="group-image" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                            data-aos-duration="2000">
                            <img src="/images/pages/our-mission.png" class="group-image-image" alt="Monteno">
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-12">
                        <div class="pt-12 block-text rtl">
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">چشم انداز ما</h5>
                            <h3 class="title mb-37" data-aos="fade-up" data-aos-duration="1000">جامعه نمونه کارها NFT
                                قوی
                                بسازید </h3>
                            <p class="fs-18 mb-41" data-aos="fade-up" data-aos-duration="1000">لورم ایپسوم متن ساختگی با
                                تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                                روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشدm id est laborum velit esse </p>
                            <a href="#" class="btn-action style-2" data-aos="fade-up" data-aos-duration="1200">بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Visions -->

        <!-- Mission -->
        <section class="tf-section missions rtl">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-md-12">
                        <div class="pt-12 block-text rtl">
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">ماموریت ما</h5>
                            <h3 class="title mb-37" data-aos="fade-up" data-aos-duration="1000">روش تجارت NFT را تغییر
                                دهید
                            </h3>
                            <p class="fs-18 mb-29" data-aos="fade-up" data-aos-duration="1000">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.
                            </p>
                            <ul data-aos="fade-up" data-aos-duration="1000">
                                <li><i class="fa fa-check"></i>
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است. </p>
                                </li>
                                <li><i class="fa fa-check"></i>
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است. </p>
                                </li>
                                <li><i class="fa fa-check"></i>
                                    <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است. </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-12">
                        <div class="group-image" data-aos="flip-right" data-aos-easing="ease-out-cubic"
                            data-aos-duration="2000">
                            <img src="/images/pages/our-vission.png" alt="Monteno">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Mission -->

        <!-- Road Map -->
        <section class="tf-section road-map">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-text center">
                            <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Road Map</span>
                            </h1>
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">نقشه راه</h5>
                            <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">سفر به <br> Monteno NFT
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="road-map__content s1 rtl">
                            <div class="box-time rtl left" data-aos="fade-right" data-aos-offset="300">
                                <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-check"></i></span>
                                <p class="mb-0 fs-16 color-main">1402 ، 1 فروردین</p>
                                <h5 class="mb-20 title">نسل ایده</h5>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                    است.
                                </p>
                            </div>
                            <div class="box-time rtl right mt-223" data-aos="fade-up" data-aos-offset="300">
                                <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-check"></i></span>
                                <p class="mb-0 fs-16 color-main">1402 ، 30 اردیبهشت</p>
                                <h5 class="mb-20 title">طراحی و توسعه</h5>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                    است.
                                </p>
                            </div>
                            <div class="box-time rtl left mt--23" data-aos="fade-right" data-aos-offset="300">
                                <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-circle"></i></span>
                                <p class="mb-0 fs-16 color-main">1402 ، 20 خرداد</p>
                                <h5 class="mb-20 title">انتشار اولیه </h5>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                    است.
                                </p>
                            </div>
                            <div class="box-time rtl right mt-200" data-aos="fade-up" data-aos-offset="300">
                                <span data-aos="zoom-in" data-aos-offset="300"><i
                                        class="fa fa-angle-down color2"></i></span>
                                <p class="mb-0 fs-16 color-main">1402 ، 11 تیر</p>
                                <h5 class="mb-20 title">نتیجه و گزارش نهایی</h5>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                    است.
                                </p>
                            </div>
                        </div>
                        <div class="view-all center" data-aos="fade-up">
                            <a href="roadmap.html" class="btn-action style-2">مشاهده همه</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Road Map -->

        <!-- Action -->
        <%- include('partials/_action.ejs') %>
            <!-- end Action -->


            <!-- Footer -->
            <%- include('partials/_footer.ejs') %>
                <!-- end Footer -->


                <script src="/js/jquery.min.js"></script>
                <script src="/js/swiper-bundle.min.js"></script>
                <script src="/js/swiper.js"></script>
                <script src="/js/app.js"></script>
                <script src="/js/aos.js"></script>

                <script>
                    AOS.init();
                </script>

</body>

<!-- Mirrored from monteno.iran.liara.run/our-mission.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 31 Mar 2024 21:21:41 GMT -->

</html>