<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from monteno.iran.liara.run/roadmap.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 31 Mar 2024 21:21:39 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monteno - NFT Portfolio HTML Template</title>
    <link rel="stylesheet" href="/style/bootstrap.css">
    <link rel="stylesheet" href="/style/app.css">
    <link rel="stylesheet" href="/font/font-awesome.css">
    <link href="/style/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/swiper-bundle.min.css" />

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon.png">

</head>

<body class="page roadmap header-fixed">

    <!-- Preloading -->
    <div class="preloader">
        <div class="icon"></div>
    </div>
    <!-- end Preloading -->

    <!-- Scroll Top -->
    <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;">
            </path>
        </svg>
    </div>
    <!-- end Scroll Top -->

    <!-- Header -->
    <%- include('partials/_header.ejs') %>
        <!-- end Header -->

        <!-- PageTitle -->
        <section class="tf-section page-title">
            <div class="container">
                <div class="col-md-12">
                    <div class="page-title__body rm">
                        <div class="pt-12 block-text rtl">
                            <h2 class="mb-20 sub-title">نقشه راه</h2>
                            <p class="fs-24 mb-33">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <br> لورم ایپسوم متن
                                ساختگی
                            </p>
                        </div>
                        <img src="/images/items/group-ntf-01.png" alt="Monteno">
                    </div>
                </div>
            </div>
        </section>
        <!-- end PageTitle -->

        <!-- Road Map -->
        <section class="tf-section road-map">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-text center">
                            <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>Road Map</span>
                            </h1>
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">نقشه راه</h5>
                            <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">سفر به <br> Monteno NFT
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="road-map__content s1 rtl">
                            <div class="box-time rtl left" data-aos="fade-right" data-aos-offset="300">
                                <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-check"></i></span>
                                <p class="mb-0 fs-16 color-main">1402 ، 1 فروردین</p>
                                <h5 class="mb-20 title">نسل ایده</h5>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                    است.
                                </p>
                            </div>
                            <div class="box-time rtl right mt-223" data-aos="fade-up" data-aos-offset="300">
                                <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-check"></i></span>
                                <p class="mb-0 fs-16 color-main">1402 ، 30 اردیبهشت</p>
                                <h5 class="mb-20 title">طراحی و توسعه</h5>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                    است.
                                </p>
                            </div>
                            <div class="box-time rtl left mt--23" data-aos="fade-right" data-aos-offset="300">
                                <span data-aos="zoom-in" data-aos-offset="300"><i class="fa fa-circle"></i></span>
                                <p class="mb-0 fs-16 color-main">1402 ، 20 خرداد</p>
                                <h5 class="mb-20 title">انتشار اولیه </h5>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                    است.
                                </p>
                            </div>
                            <div class="box-time rtl right mt-200" data-aos="fade-up" data-aos-offset="300">
                                <span data-aos="zoom-in" data-aos-offset="300"><i
                                        class="fa fa-angle-down color2"></i></span>
                                <p class="mb-0 fs-16 color-main">1402 ، 11 تیر</p>
                                <h5 class="mb-20 title">نتیجه و گزارش نهایی</h5>
                                <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از
                                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                    است.
                                </p>
                            </div>
                        </div>
                        <div class="view-all center" data-aos="fade-up">
                            <a href="#" class="btn-action style-2">مشاهده همه</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Road Map -->

        <!-- Portfolio -->
        <section class="tf-section portfolio">
            <div class="container-fluid">
                <div class="swiper swiper-portfolio s1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item bg-2"><img src="/images/items/item-17.png" alt="Image"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item bg-2"><img src="/images/items/item-18.png" alt="Image"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item bg-2"><img src="/images/items/item-19.png" alt="Image"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item bg-2"><img src="/images/items/item-20.png" alt="Image"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item bg-2"><img src="/images/items/item-21.png" alt="Image"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item bg-2"><img src="/images/items/item-22.png" alt="Image"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item bg-2"><img src="/images/items/item-23.png" alt="Image"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper swiper-portfolio s2">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="item bg-2"><img src="/images/items/item-21.png" alt="Image"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item bg-2"><img src="/images/items/item-22.png" alt="Image"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item bg-2"><img src="/images/items/item-23.png" alt="Image"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item bg-2"><img src="/images/items/item-24.png" alt="Image"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item bg-2"><img src="/images/items/item-25.png" alt="Image"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item bg-2"><img src="/images/items/item-17.png" alt="Image"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item bg-2"><img src="/images/items/item-18.png" alt="Image"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Portfolio -->

        <!-- FAQ -->
        <section class="tf-section faq rtl">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="block-text center">
                            <h1 class="heading-bg" data-aos="fade-in" data-aos-duration="1000"><span>FAQ</span></h1>
                            <h5 class="mb-10 sub-title" data-aos="fade-up" data-aos-duration="1000">سوالات متداول</h5>
                            <h3 class="title mb-28" data-aos="fade-up" data-aos-duration="1000">اغلب پرسیده شده <br>
                                سوالات
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row flat-tabs" data-aos="fade-up">
                    <div class="col-md-4">
                        <ul class="menu-tab">
                            <li class="item-title active">
                                <span class="inner">ارز دیجیتال</span>
                            </li>
                            <li class="item-title">
                                <span class="inner">توکن NFT</span>
                            </li>
                            <li class="item-title">
                                <span class="inner">مجموعه</span>
                            </li>
                            <li class="item-title">
                                <span class="inner">تجارت رمزنگاری</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <div class="content-tab">
                            <div class="content-inner">
                                <div class="flat-accordion">
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title active">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟
                                        </h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟?</h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-inner">
                                <div class="flat-accordion">
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title active">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟
                                        </h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟?</h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-inner">
                                <div class="flat-accordion">
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title active">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟
                                        </h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟?</h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-inner">
                                <div class="flat-accordion">
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title active">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟
                                        </h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟</h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟?</h5>
                                        <div class="toggle-content">
                                            <p class="fs-18">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                با
                                                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                                                و
                                                سطرآنچنان که لازم است</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end FAQ -->

        <!-- Action -->
        <%- include('partials/_action.ejs') %>
            <!-- end Action -->


            <!-- Footer -->
            <%- include('partials/_footer.ejs') %>
                <!-- end Footer -->


                <script src="/js/jquery.min.js"></script>
                <script src="/js/swiper-bundle.min.js"></script>
                <script src="/js/swiper.js"></script>
                <script src="/js/app.js"></script>
                <script src="/js/aos.js"></script>
                <script type="text/javascript" src="/js/vanilla-tilt.js"></script>
                <script type="text/javascript">
                    VanillaTilt.init(document.querySelector(".box-item"), {
                        max: 25,
                        speed: 400
                    });

                    //It also supports NodeList
                    VanillaTilt.init(document.querySelectorAll(".box-item"));
                </script>

                <script>
                    AOS.init();
                </script>

</body>

<!-- Mirrored from monteno.iran.liara.run/roadmap.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 31 Mar 2024 21:21:40 GMT -->

</html>